.photo{
    height:150px;
    width:150px;
    border:1px silver solid;
    border-radius:150px;
    margin:auto;
    overflow: hidden;
    cursor: pointer;
}
.myself_form{
    text-align:center;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
}
.photo img{
    width:100%;
    height:100%;
    background-size:100% 100%;
}
